<label
    class="combobox__label"
    id="combobox__id-label">
    {{comboLabel}}
</label>

<div
    class="combobox__input"
    id="combobox__id-input"
    role="combobox"
    tabindex="0"
    aria-controls="combobox__id-list-box"
    aria-expanded="false"
    aria-haspopup="listbox"
    aria-labelledby="combobox__id-label" >
    {{comboPlaceholder}}
</div>

<div
    class="combobox__menu"
    id="combobox__id-list-box"
    role="listbox"
    tabindex="-1"
    aria-labelledby="combobox__id-label" >
</div>